body,
html {
	background: #111;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: fixed;
}

canvas {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 65vmin;
	height: 65vmin;
}

.mobile-block {
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 250px;
}

.control {
	display: inline-flex;
	width: 25%;
	background-color: #2d3b53;
	color: #dab74e;
	font-size: 100px;
	align-items: center;
	justify-content: center;
	border: 2px solid #1a2332;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.orientation {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	display: none;
	align-items: center;
	justify-content: center;
	font-size: 50vh;
	color: #fff;
	z-index: 99;
}
